/Singleton_BD/nbproject/private/
/Singleton_BD/build/
/AbstractFactoryPlantilla/nbproject/private/
/AbstractFactoryPlantilla/build/
/AbstractFactoryVehiculos/nbproject/private/
/Prototype/nbproject/private/
/Prototype_factory_figuras/nbproject/private/
/Prototype_factory_figuras/build/
/FacadePlantilla/nbproject/private/
/facadeAudiovisuales/nbproject/private/
/facadeAudiovisuales/build/
